!!! 5
html
    head
        title
            | My node.js fileupload test
        meta(name="Content-Type", content="text/html; charset\=utf-8")
        script(type="text/javascript", src="/nodejs-upload-assets/jquery.min.js")
        script(type="text/javascript", src="/nodejs-upload-assets/socket.io/socket.io.js")
        link(type="text/css", rel="stylesheet", href="/nodejs-upload-assets/main.css")
    body
        div!= body



